@import url("https://fonts.googleapis.com/css?family=Creepster|Ewert&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ewert", cursive;
}

.main-header {
  width: 100%;
  padding: 1em 1.5em;
  background: rgb(1, 33, 90);
  position: fixed;

  /* position: sticky; */
}
.main-header > div {
  display: inline-block;
}
.main-header__home {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 84px);
  vertical-align: middle;
}
.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
  padding: 0 1em;
}

.main-nav__item a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  font-family: "Creepster", cursive;

  padding: inherit;
}
.main-header__home:hover,
.main-header__home:active {
  font-family: "Creepster", cursive;
  padding: inherit;
  font-size: 1.5em;
}

#work-highlight {
  background: url("./photo-of-person-typing-on-computer-keyboard-735911.jpg")
    center/cover no-repeat;
  height: 578px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
}
.work-highlight__title {
  padding-top: 20%;
}
#works {
  background: rgb(1, 33, 90);
  display: inline-block;
}

.work {
  display: inline-block;
  width: 30%;
  text-align: center;
  color: rgb(1, 33, 90);
  font-size: 1.5em;
  vertical-align: middle;
  padding: 1em;
  margin: 0.5em;
  background: lightseagreen;
  border-radius: 25px;
}
.work-title {
  font-size: 2em;
}

.work-tools {
  list-style: none;
}

.estore-img,
.port-img,
.travel-img {
  width: 70%;
}
a.work-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: rgb(1, 33, 90);
  border: 3px solid rgb(1, 33, 90);
  border-radius: 15px;
}
a.work-link:hover {
  color: rgb(1, 33, 90);
  background: white;
  border: 3px solid white;
}
